{% extends "base.html" %}

{% block styles %}
    form {
        height: 100%;
        width: 100%;
     }

    textarea {
        height: 100%;
        width: 100%;

        background: none;
        border: none;

        resize: none;
        overflow: auto;

        color: inherit;
        font-family: inherit;
        font-size: 1rem;
        line-height: inherit;
    }

    .passwordfield {
        position: absolute;
        bottom: 5rem;
        right: 1rem;

        border: none;

        color: white;
        font-size: 1.5rem;

        cursor: pointer;
    }

    button[type="submit"] {
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        height: 3rem;
        width: 3rem;
        border: none;
        border-radius: 50%;
        background: #2196F3;

        color: white;
        font-size: 2rem;

        cursor: pointer;
    }

    .hidden { display: none; }
{% endblock styles %}

{% block content %}
    <form action="/" method="post">
        <textarea name="val" placeholder="bin something" autofocus autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>

        <div class="passwordfield">
            <label for="password" title="Enter password">&#128274;</label>
            <input type="password" name="password"></input>
        </div>

        <button type="submit" title="Submit the file">&#x270e;</button>
    </form>

    <script>
        const form = document.querySelector('form');
        const input = document.querySelector('textarea');
        const password = document.querySelector('input[type="password"]');
        const passwordfield = document.querySelector('.passwordfield');
        const button = document.querySelector('button[type="submit"]');

        function onInput() {
            button.classList.toggle('hidden', !input.value);
            passwordfield.classList.toggle('hidden', !input.value);
        }

        input.addEventListener('input', onInput);
        onInput();

        form.addEventListener('submit', (event) => {
            if(password.value == "") {
                alert("You need to enter the password before submitting");
                event.preventDefault()
            }
        })
    </script>
{% endblock content %}